@import "_color.scss";
@import "_mixin.scss";
@import "_typo.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    background-image: url("../img/ImageFond/matrix.jpeg");
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.blurBlack {
    background-color: rgba(3, 0, 39, 0.6);
    border: 2px solid #fff;
    border-radius: 20px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titre {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    color: #ff532b;
    padding: 2vh 2.5vw;
    animation: slide 1s forwards;
}

.titreMov {
    font-family: brico;
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(90deg, #ffec36 0%, #ff532b 100%);
    background-size: 200% 200%;
    animation: rotation 7s infinite ease-out;
}

@keyframes rotation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.titre h1 {
    padding-left: 20px;
}

@keyframes slide {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #fff;
    // margin: 20px 20px 20px 0;
}
.containerNav {
    margin-right: 80px;
    perspective: 800px;
    width: 50%;
}
nav {
    background-color: rgba(3, 0, 39, 0.6);
    border: 2px solid #ffec36;
    border-radius: 10px;
    ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
            list-style: none;
            width: 33%;
            text-align: center;
        }
    }
    a {
        text-decoration: none;
        color: aqua;
        font-family: changa;
        font-size: 1.4rem;
    }
    li {
        padding: 10px 4%;
    }
    hr {
        border: 1px solid #ffec36;
    }
}

.burger {
    display: none;
}
.navMob {
    display: none;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 2%;
    flex: 1;
    overflow: hidden;
}

.presentText {
    // flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.9);
    color: #030027;
    border: 2px solid #ffec36;
    padding: 25px;
    border-radius: 20px;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;

    overflow: auto;

    h2 {
        font-family: changa;
        width: 250px;
    }
    p {
        font-family: oxanium;
        font-weight: bolder;
    }
    .animation {
        font-size: 1.2rem;
        font-family: oxanium;
        width: 250px;
        height: 2.4rem;
        color: #030027;
        display: flex;
        flex-direction: column;

        margin-bottom: 10px;
    }
    @include responsiveWidth(1260px, 90%);
    @include responsiveWidth(400px, 100%);
}

.element::after {
    content: "";
    border-left: 0.8rem solid #030027;
    height: 100%;
    animation: clign 0.9s infinite;
}
@keyframes clign {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#animText3 {
    padding-left: 8px;
    text-decoration: none;
    color: blue;
}

.secondRow {
    display: flex;
    flex-wrap: wrap;
}
.realis {
    
     background-color: rgba($blue-black, 0.8);
    color: $white;
    border: 2px solid $yellow;
    padding: 25px;
    border-radius: 20px;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;

    @include responsiveWidth(1260px, 90%);
    @include responsiveWidth(400px, 100%);
}
.realis > img {
    background-color: #030027;
    margin: 40px;
}

.realis .card {
            width: 100%;
            display: flex;
            color: #ffec36;
            text-decoration: none;
            font-size: 1.6rem;
            margin: 10px;
            font-family: changa;
            padding: 10px;
            border-radius: 10px;
            border: solid 1px white;

            
    img {
        width: 400px;
        aspect-ratio: auto;
        border: 1px solid #030027;
        @include responsiveWidth(1260px, 350px);
        @include responsiveWidth(480px, 300px);
        @include responsiveWidth(380px, 250px);
        
        
    }
    .cardText  {
        display: flex;
        flex-direction: column;
    }
    & h3 {
        padding: 0 15px;
        text-align: center;
        font-size: 1.8rem;
        font-family: oxanium;
    }

    & p {
        padding: 15px;
        font-family: oxanium;
    }

    & .link {
        display: flex;
        justify-content: center;
    }
    & a {
        padding: 10px;
        text-decoration: none;
        color: $blue;
        background-color: $blue-black;
        box-shadow: 5px 5px 5px $blue-black;
        border: 1px solid $orange;
        border-radius: 5px;
        margin: 10px;
        font-size: 1.3rem;
        font-family: changa;
    }
}

// numero du projet (à retirer)
.numero {
    color: $blue-black;
    font-size: 1.8rem;
    text-align: center;
    font-family: brico;
    align-items: flex-end;
}

.techno {
    // flex-grow: 1;
    background-color: rgba($blue-black, 0.8);
    color: $white;
    border: 2px solid $yellow;
    padding: 25px;
    border-radius: 20px;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    @include responsiveWidth(1260px, 90%);
    @include responsiveWidth(400px, 100%);
    // max-height: 600px;
    overflow: auto;

    & h2 {
        // font-size: 2rem;
        font-family: changa;
        @include responsive(1260px, 1.6rem);
    }

    & p {
        // font-size: 1.2rem;
        font-family: oxanium;
        font-weight: bolder;
        @include responsive(1260px, 1rem);
    }

    & .technos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }
}

.contact {
    // flex-grow: 1;
    overflow: auto;
    background-color: rgba($blue-black, 0.8);
    color: #ff532b;
    border: 2px solid #ffec36;
    padding: 25px;
    border-radius: 20px;
    width: 65%;
    @include responsiveWidth(1260px, 90%);
    @include responsiveWidth(400px, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;

    h2 {
        // font-size: 1.8rem;
        font-family: changa;
    }
    p {
        font-size: 1.2rem;
        font-family: oxanium;
        font-weight: bolder;
    }
    & form {
        display: flex;
        flex-direction: column;
    }
}

#nom,
#prenom,
#sujet,
#email,
#mess {
    // min-width: 300px;
    padding: 8px;
    background-color: white;
    color: #ff532b;
    border-radius: 5px;
}

#mail input::placeholder,
textarea::placeholder {
    color: rgba(3, 0, 39, 0.7);
    font-size: 1.2rem;
    font-family: oxanium;
}

#subForm {
    margin: auto;

    width: 180px;
    font-size: 1.4rem;
    font-family: changa;
    border: 1px solid #ff532b;
    color: #fff;
    box-shadow: 5px 5px 5px #ff532b;
    background-color: rgba($blue-black, 0.8);
    border-radius: 5px;
    padding: 10px;
}

#subForm:hover {
    cursor: pointer;
}

.idContact {
    display: flex;
    #prenom {
        margin-left: 4px;
    }
    #nom {
        margin-right: 4px;
    }
}

.idContact,
#email,
#sujet,
textarea {
    margin-bottom: 20px;
}

.error {
    color: red;
    font-family: changa;
}

// gestion du responsive (burger etc)
@media screen and (max-width: 1260px) {
    .titre h1 {
        font-size: clamp(1.2rem, 0.9625rem + 1vw, 1.7rem);
    }

    .presentText h2,
    .realis h2,
    .techno h2,
    .contact h2 {
        font-size: clamp(1.2rem, 1.0575rem + 0.6vw, 1.5rem);
    }
    .presentText p,
    .realis p,
    .techno p,
    .contact p {
        font-size: clamp(1rem, 0.82rem + 0.6vw, 1.3rem);
    }

    .containerNav {
        display: none;
    }

    .burger {
        display: block;
        position: relative;
        width: 50px;
        height: 50px;
        background-color: rgba($blue-black, 0.9);
        margin-right: 50px;
        border-radius: 5px;
        border: 1px solid $yellow;
    }

    .bar1,
    .bar2,
    .bar3 {
        position: absolute;
        width: 70%;
        margin-left: 7.5px;
        height: 2px;
        background-color: $yellow;
    }

    .bar1 {
        transform: translateY(12px);
    }

    .bar3 {
        transform: translateY(-12px);
    }

    .bar1.active {
        transform: rotate(45deg);
    }

    .bar2.active {
        opacity: 0;
    }

    .active.bar3 {
        transform: rotate(-45deg);
    }
    .navMob {
        display: block;
        position: absolute;
        width: 70vw;
        min-width: 200px;
        background-color: rgba($blue-black, 0.9);
        border: 2px solid $yellow;
        top: 0px;
        z-index: 1;
        transform: translateX(-100%);
        transition: all 0.8s;
    }

    .navMob.active {
        transform: translateX(0);
    }

    .navMob ul {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        & li {
            list-style: none;
            height: 60px;
        }
        & a {
            display: inline-block;
            width: 100%;
            text-align: center;

            text-decoration: none;
            color: $blue;
            font-family: changa;
            font-size: 1.4rem;
        }
    }

    .realis > img {
        display: none;
    }

    .fenetre {
        width: 90vw;
        padding: 25px 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        border: 2px solid $yellow;
        background-color: rgba($blue_black, 0.7);
        border-radius: 20px;
    }

    

    .techno img {
        width: 120px;
        height: 120px;
    }

    #mail {
        width: 100%;
    }

    #nom,
    #prenom,
    #sujet,
    #email,
    #mess {
        width: 96%;
    }

    .idContact {
        flex-direction: column;
        gap: 15px;
        #prenom {
            margin-left: 0px;
        }
        #nom {
            margin-right: 0px;
        }
    }
}

@media screen and (max-width: 580px) {
    header img {
        display: none;
    }
    .fenetre {
        width: 95%;
        flex-direction: column;
        border: none;

        background-color: transparent;
    }

    .card {
        max-width: 400px;
        width: 100%;
        margin: auto;
        border-color: $yellow;
    }

    .techno img {
        width: 100px;
        height: 100px;
    }

    .idContact,
    #email,
    #sujet,
    textarea {
        width: 100%;
    }
}

.jeux {
    background-color: rgba($blue-black, 0.8);
    color: $white;
    border: 2px solid $yellow;
    padding: 25px;
    border-radius: 20px;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    overflow: auto;

    @include responsiveWidth(1260px, 90%);
    @include responsiveWidth(400px, 100%);
    //    max-height: 600px;

    h2 {
        font-family: changa;
    }

    .gameCard {
        a {
            width: 600px;
            display: flex;
            color: #ffec36;
            text-decoration: none;
            font-size: 1.6rem;
            margin: 10px;
            font-family: changa;
            padding: 10px;
            border-radius: 10px;
            border: solid 1px white;
        }
        img {
            width: 180px;
            height: 180px;
        }
        p {
            margin-left: 30px;
            padding: 5px;
        }
    }
}

.github {
    background-color: rgba($blue-black, 0.8);
    color: $white;
    border: 2px solid $yellow;
    padding: 25px;
    border-radius: 20px;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;

    @include responsiveWidth(1260px, 90%);
    @include responsiveWidth(400px, 100%);

    .profil {
        text-align: end;
        width: 100%;
        margin-right: 50px;

        a {
            font-size: clamp(1.7rem, 0.75vw + 0.815rem, 2rem);
            font-family: changa;
            cursor: grab;
            color: #ff532b;
            text-decoration: none;
        }
        &a:active {
            cursor: grabbing;
        }
    }
}

// présentation mini-jeux
@media screen and (max-width: 780px) {
    .jeux .gameCard a {
        flex-direction: column;
        align-items: center;
        padding: 30px;
        width: 300px;
    }
    .contain1 {
        flex-direction: column;
    }
    .realis .card  {
        flex-direction: column;
        
        align-items: center;
        &img {
            margin-bottom: 20px;
        }
    }

}

/* Personnalisation de la scrollbar  */
.jeux,
.techno,
.contact,
.github, .realis {
    &::-webkit-scrollbar {
        width: 17px;
        background-color: transparent;
        border-radius: 10px;
    }

    /* Piste de défilement (track) */
    &::-webkit-scrollbar-track {
        margin-block: 15px;
        border-radius: 10px;
        background: transparent;
    }

    /* Poignée de défilement (thumb) */
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #ff532b;

        border: solid 5px #030027;
    }

    /* Poignée au survol */
    &::-webkit-scrollbar-thumb:hover {
        background: #009c9c;
    }
}

@media screen and (min-width: 1260px) {
    .titre h1 {
        font-size: clamp(1.7rem, 0.75vw + 0.815rem, 2rem);
    }

    nav a {
        font-size: clamp(1.1rem, 0.1923rem + 1.2308vw, 1.3rem);
    }

    .jeux a {
        font-size: clamp(1.4rem, 0.22rem + 1.6vw, 1.8rem);
    }

    header img {
        width: clamp(100px, 10vw, 140px);
        height: auto;
    }

    .techno img {
        width: 150px;
        height: 150px;
    }

    .titre {
        margin-top: 10px;
    }

    .jeux .gameCard img {
        width: 120px;
        height: 120px;
    }

    h2 {
        font-size: clamp(1.5rem, 0.615rem + 1.2vw, 1.8rem);
    }

    p {
        font-size: clamp(1.1rem, 0.41rem + 0.8vw, 1.3rem);
    }
}

.github {
    & h2 {
        font-family: changa;
        padding: 5px;
    }
}
.contentGH {
    display: flex;
    flex-direction: column;
}

.templateGH {
    border: 1px solid white;
    padding: 10px;
    margin: 15px 0;
    border-radius: 10px;
    font-family: changa;

    .contain1 {
        display: flex;
         @include responsiveWidth(400px, 100vw);
    }
    .contain2 {
        display: flex;
         @include responsiveWidth(400px, 100vw);
        p {
            padding: 10px 20px;
        }
    }
    img {
        width: 350px;
        height: auto;
        padding: 5px;
    }
    .dataGH {
        padding-left: 10px;
    }
    .donnee {
        color: #ffec36;
    }
    .lien a {
        text-decoration: none;
        color: #ff532b;
    }
}

// loader style
.loader {
    border: 8px solid #f3f3f3; /* Couleur de fond */
    border-top: 8px solid #3498db; /* Couleur de la bordure animée */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
